<div class="wrapper">
  <app-menu></app-menu>
  <section class="orders">
    <!-- Блок модификации вывода (фильтрация, поиск) -->
    <div class="result-modificators">
      <!-- Поиск -->
      <div class="input">
        <label for="search">Поиск</label>
        <input id="search"
               type="text"
               placeholder="Введите номер заказа, ФИО клиента, наименование или ИНН клиента..."
               [(ngModel)]="search">
      </div>

      <!-- Фильтрация -->
      <div class="filters">
        <div class="date-filters">
          <p>Дата заказа</p>
          <div class="date-filters-wrapper">

            <div class="input">
              <label for="orderStartDate">От</label>
              <input type="date"
                     id="orderStartDate"
                     [(ngModel)]="orderStartDate"
                     (focusout)="changeDate()">
            </div>

            <div class="input">
              <label for="orderEndDate">До</label>
              <input type="date"
                     id="orderEndDate"
                     [(ngModel)]="orderEndDate"
                     (focusout)="changeDate()">
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Заказы -->
    <div class="order-list">
      <table *ngIf="filteredOrders().length != 0">
        <thead>
          <th>Номер</th>
          <th>ИНН клиента</th>
          <th>Клиент</th>
          <th>Дата заказа</th>
          <th>Договор</th>
        </thead>
        <tbody>
          <ng-container *ngFor="let order of filteredOrders()">

            <tr style="cursor: pointer;">
              <td (mousedown)="orderActiveToggle(order)">{{order.Number}}</td>
              <td (mousedown)="orderActiveToggle(order)">{{order.Tin}}</td>
              <td (mousedown)="orderActiveToggle(order)">{{order.Fullname || order.OrganizationName}}</td>
              <td (mousedown)="orderActiveToggle(order)">{{order.OrderDate | date:'dd.MM.yyyy'}}</td>
              <td><a [routerLink]="['/document', order.OrderId.toString()]"
                   class="contract-link"
                   target="_blank"
                   >Печатать договор</a></td>
            </tr>
            <tr [ngClass]="{'hidden':!order.UI?.active}">
              <td colspan="5">
                <table>
                  <col style="width: auto;">
                  <col style="width: 100px;">
                  <col style="width: auto;">
                  <tbody>
                    <tr *ngFor="let position of getOrderPositions(order.OrderId)"
                        style="background: var(--selection-color);">
                      <td colspan="3">{{position.ProductName}}</td>
                      <td>{{position.Amount}}</td>
                      <td class="price">{{position.PriceValue | number: '1.2-2' : 'ru'}}</td>
                    </tr>
                  </tbody>
                </table>
                <span class="price sum">Сумма: {{getOrderSum(order.OrderId) | number: '1.2-2' : 'ru'}}</span>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <h1 *ngIf="filteredOrders().length == 0">Заказы не найдены</h1>

      <button class="create-order-button"
              (click)="createOrder()">Новый заказ</button>
    </div>
  </section>
</div>
