<div class="wrapper">
  <app-menu></app-menu>
  <section class="orders">
    <!-- Блок модификации вывода (фильтрация, поиск) -->
    <div class="result-modificators">
      <!-- Поиск -->
      <div class="input">
        <label for="search">Поиск</label>
        <input id="search"
               type="text"
               placeholder="Введите номер договора, ФИО клиента, наименование или ИНН клиента..."
               [(ngModel)]="search">
      </div>

      <!-- Фильтрация -->
      <div class="filters">
        <div class="date-filters">
          <p>Дата договора</p>
          <div class="date-filters-wrapper">

            <div class="input">
              <label for="orderStartDate">От</label>
              <input type="date"
                     id="orderStartDate"
                     [(ngModel)]="startDate"
                     (focusout)="changeDate()">
            </div>

            <div class="input">
              <label for="orderEndDate">До</label>
              <input type="date"
                     id="orderEndDate"
                     [(ngModel)]="endDate"
                     (focusout)="changeDate()">
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Заказы -->
    <div class="order-list">
      <table *ngIf="contracts.length != 0">
        <thead>
          <th>Номер</th>
          <th>ИНН клиента</th>
          <th>Клиент</th>
          <th>Действителен (от - до)</th>
          <th>Статус</th>
          <th>Договор</th>
        </thead>
        <tbody>
          <ng-container *ngFor="let contract of filteredContracts()">

            <tr style="cursor: pointer;"
                (click)="viewToggle(contract)">
              <td>{{contract.Number}}</td>
              <td>{{contract.INN}}</td>
              <td>{{contract.Fullname || contract.Name}}</td>
              <td>{{contract.StartDate | date:'dd.MM.yyyy' : 'ru'}} - {{contract.EndDate | date:'dd.MM.yyyy': 'ru'}}
              </td>
              <td class="status">{{contract.StatusName}}</td>
              <td><a [routerLink]="['/document', contract.ClientId.toString()]"
                   class="contract-link"
                   target="_blank">Печатать договор</a></td>
            </tr>
            <td colspan="6"
                [ngClass]="{'hidden' : !contract.UI?.Visible}">

              <table class="order">
                <thead>
                  <th>№ п/п</th>
                  <th>Дата заказа</th>
                  <th>Статус</th>
                </thead>

                <ng-container *ngFor="let order of contract.Orders">
                  <tbody>
                    <tr style="cursor: pointer"
                        (click)="viewToggle(order)">
                      <td>{{order.OrderId}}</td>
                      <td>{{order.OrderDate | date : 'dd.MM.yyyy' : 'ru'}}</td>
                      <td class="status">{{order.StatusName}}</td>
                    </tr>

                    <td colspan="6"
                        [ngClass]="{'hidden' : !order.UI?.Visible}">
                      <table class="order-composition">
                        <thead>
                          <th>№ п/п</th>
                          <th>Изделия</th>
                          <th>Количество</th>
                          <th>Цена</th>
                        </thead>

                        <tbody>
                          <tr *ngFor="let o of order.OrderComposition">
                            <td>{{o.OrdinalNumber}}</td>
                            <td>{{o.ProductName}}</td>
                            <td>{{o.Amount}} / {{o.MaxAmount}} (Остаток: {{o.MaxAmount - o.Amount}})</td>
                            <td>{{o.PriceValue | number : '1.2-2' : 'ru'}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <span class="price sum">Сумма по заказу №{{order.OrderId}}: {{order.Sum | number : '1.2-2' : 'ru'}}</span>
                    </td>
                  </tbody>
                </ng-container>
              </table>
              <span class="price sum">Сумма договора: {{contract.Sum | number : '1.2-2' : 'ru'}}</span>
          </ng-container>
        </tbody>
      </table>
      <h1 *ngIf="filteredContracts().length == 0">Заказы не найдены</h1>

      <button class="create-order-button"
              (click)="createOrder()">Новый договор</button>
    </div>
  </section>
</div>
