<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        media="print"
        href="./document.component.scss">
  <title>Договор</title>
</head>

<body>
  <div class="page">
    <header class="header">
      <div class="header__title">Договор {{order?.Number}}<br>подряда на изготовление продукции</div>
      <div class="header__date">{{order?.OrderDate | date:'dd MMM yyyy' : '+3' : 'ru'}}</div>
    </header>
    <main>
      <p>АО «РАТЕП» (далее Исполнитель) с одной стороны и {{order?.Fullname || order?.OrganizationName}} (далее
        Заказчик) с другой, совместно
        именуемые как Стороны, заключили настоящий договор (далее Договор) о нижеследующем:</p>

      <section>
        <h1>1. Предмет договора</h1>

        <p>1.1. В соответствии и на условиях Договора Исполнитель обязуется своими силами и средствами изготовить для
          Заказчика изделия, указанные в спецификации заказа, а Заказчик обязуется принять и оплатить выполненный
          Исполнителем результат работ.</p>
        <p>1.2. Конкретный состав и объем работ, в том числе цена работ, а также перечень материалов, используемых для
          изготовления Изделий, указаны в спецификации (Приложение № 1 к Договору).</p>
        <p>1.3. Спецификация является приложением к настоящему договору и его неотъемлемой частью (предоставляются
          Заказчику с полным комплектом документов на изготовленные изделия).</p>
      </section>

      <section>
        <h1>2. Права и обязанности сторон</h1>

        <H2>2.1. Заказчик обязан:</H2>
        <p>2.1.1. Ознакомиться со спецификацией, при необходимости требовать внесения соответствующих изменений.</p>
        <p>2.1.2. При наличии претензий к качеству, комплектации, количеству и/или ассортименту изделий указать их в
          Акте сдачи-приёмки работ. В случае необоснованного отказа от подписания Акта сдачи-приёмки работ, изделия
          считаются принятыми фактически. Претензии в отношении недостатков, не указанных в Акте сдачи-приёмки работ,
          Исполнителем не рассматриваются.</p>
        <p>2.1.3. Своевременно произвести оплату изготовленных изделий в порядке и на условиях Договора.</p>

        <h2>2.2. Заказчик имеет право:</h2>
        <p>2.2.1. Расторгнуть настоящий договор по своей инициативе с возмещением всех затрат (фактически выполненных
          работ) Исполнителю на момент расторжения настоящего договора, но не менее 5000р.</p>

        <h2>2.3. Исполнитель обязан:</h2>
        <p>2.3.1. Выполнить весь указанный в спецификации перечень работ по изготовлению изделий в соответствии с
          условиями Договора.</p>
        <p>2.3.2. Непосредственно после окончания выполнения работ по изготовлению Изделий предоставить для подписания
          Заказчику Акт сдачи-приёмки выполненных работ.</p>
      </section>

      <section>
        <h1>3. Качество работы и гарантийный срок</h1>

        <p>3.1. Качество выполненной работы должно соответствовать Спецификации и стандартам, установленным компанией АО
          «РАТЕП».</p>
        <p>3.2. Подписывая настоящий договор, Заказчик подтверждает, что ознакомлен со стандартами качества, в
          соответствии с которыми производятся работы.</p>

        <h2>3.3. Гарантийный срок:</h2>
        <p>На результаты работы Стороны установили гарантийный срок продолжительностью 2 года.</p>
        <p>3.3.2. Гарантийный срок исчисляется с момента, когда по условиям Договора результат выполненной работы принят
          или должен быть принят Заказчиком, если иной момент не установлен законом.</p>
        <p>3.3.3. Гарантийный срок продлевается на период, в течение которого Заказчик не мог пользоваться результатом
          работы из-за обнаруженных в нем недостатков, при условии, что Исполнитель был письменно извещён Заказчиком об
          обнаружении недостатков в течение 10 рабочих дней.</p>
        <p>3.3.4. Исполнитель освобождается от гарантийных обязательств, если дефекты или неисправности изделия явились
          следствием намеренных действий / бездействий Заказчика, включая самостоятельное устранение Заказчиком каких -
          либо дефектов и неисправностей, нарушения Заказчиком правил эксплуатации изделия.</p>
        <p>3.3.5. Гарантийные сроки не распространяются на Изделия или комплектующие в случае, если нарушение нормальной
          работы, дефекты вызваны воздействием на них животными, птицами или насекомыми.</p>
      </section>

      <section>
        <h1>4. Цена работы и порядок оплаты</h1>

        <p>4.1. Цена работы по Договору определяется в соответствии со спецификацией и составляет: {{getOrderSum() |
          number:'1.2-2' : 'ru'}}</p>
        <p>4.2. Расчёты по настоящему договору осуществляются путём перечисления денежных средств на расчётный счёт,
          либо путём внесения денежных средств в кассу Исполнителя в размере 100% предоплаты в день подписания договора.
        </p>
        <p>4.3. Оплата производится в рублях и является твёрдой.</p>
        <p>Обязательство Заказчика по оплате считается исполненным в момент зачисления денежных средств на расчётный
          счёт банка Исполнителя или внесения Заказчиком денежных средств в кассу Исполнителя.</p>
      </section>

      <section>
        <h1>5. Сроки и условия выполнения работы</h1>

        <p>5.1. Работы выполняются по технологии компании АО «РАТЕП» и должны соответствовать спецификации.</p>
        <p>5.2. Подписывая настоящий Договор, Заказчик подтверждает, что бесплатно ознакомлен с технологиями и
          достижениями в области изготовления и использования изделий, их технических характеристиках, а также ему
          продемонстрировали образцы Изделий. Заказчик подтверждает, что полученная информация является достаточной, и
          он принимает решение о поручении Исполнителю изготовление изделия.</p>
        <p>5.3. При принятии Заказчиком положительного решения Стороны подписывают настоящий Договор.</p>
        <p>5.4. Исполнитель обязан приступить к выполнению работ по Договору в течение 2 (двух) рабочих дней с момента
          уплаты Заказчиком 100% предоплаты, предусмотренной п 4.1 настоящего договора.</p>
        <p>5.5. Заказчик не вправе отказаться от Изделия надлежащего качества.</p>
        <p>5.6. При неисполнении Заказчиком обязанности по оказанию содействия, Исполнитель вправе требовать возмещения
          причинённых убытков (включая дополнительные издержки), вызванные простоем, либо перенесением сроков исполнения
          работы, либо увеличением указанной в Договоре цены работы.</p>
        <p>5.7. В случаях, если исполнение работы по Договору стало невозможным вследствие действий/бездействий или
          упущений Заказчика, Исполнитель сохраняет право на получение оплаты согласно указанной в Договоре цене с
          учётом фактически выполненной работы.</p>
        <p>5.8. При доставке Изделий Заказчик или другое, уполномоченное им лицо, обязаны принять, осуществить проверку
          по качеству и количеству в соответствии со спецификацией.</p>
        <p>5.9. В случае отсрочки получения Изделий по вине Заказчика, Исполнитель вправе потребовать, а Заказчик
          обязуется оплатить складские услуги в сумме 0.5% от стоимости изделий, за каждый день хранения, начиная со
          второго дня от даты готовности изделий к получению. В случае, если изделия остаются невостребованными
          Заказчиком в течение 2(двух) месяцев с момента, когда Изделия должны быть получены Заказчиком, Исполнитель
          имеет право утилизировать изделия и потребовать от Заказчика возмещение расходов Исполнителя, связанных с
          утилизацией и хранением.</p>
        <h2>5.10. Контроль за выполнением работы: </h2>
        <p>Заказчик вправе в любое время проверять ход и качество выполняемой Исполнителем работы, не вмешиваясь в его
          деятельность.</p>
        <p>Данный контроль Заказчик вправе осуществлять в следующей форме:</p>
        <ul>
          <li>устно, посредством запроса информации у диспетчерской службы Исполнителя в течение рабочего дня.</li>
        </ul>
        <p>Исполнитель обязан отвечать на письменные запросы Заказчика о предоставлении сведений и документов в течение
          десяти дней после получения запросов.</p>
        <p>5.11. Риск случайной гибели или случайного повреждения материалов, оборудования и иного предоставленного
          Исполнителем имущества несёт Заказчик.</p>
        <p>5.12. Исполнитель вправе привлечь третьих лиц для исполнения своих обязательств по Договору.</p>
      </section>

      <section>
        <h1>6. Форс-мажор</h1>

        <p>6.1. Ни одна из сторон Договора не несет ответственности перед другой стороной за невыполнение обязательств,
          обусловленное обстоятельствами, возникшими помимо воли и желания сторон, которые нельзя предвидеть или
          избежать, включая объявленную или фактическую войну, гражданские волнения, эпидемии, блокаду, землетрясения,
          наводнения, пожары и другие стихийные бедствия.</p>
        <p>Документ, выданный соответствующим компетентным органом, является достаточным подтверждением наличия и
          продолжительности действия непреодолимой силы.</p>
        <p>6.2. Сторона, которая не исполняет своего обязательства вследствие действия непреодолимой силы, должна
          немедленно известить другую сторону о препятствии и его влиянии на исполнение обязательств по Договору.</p>
      </section>

      <section>
        <h1>7. Конфиденциальность</h1>

        <p>7.1. Условия Договора и дополнительных соглашений к нему конфиденциальны и не подлежат разглашению.</p>
      </section>

      <section>
        <h1>8. Срок действия договора</h1>

        <p>8.1. Настоящий Договор вступает в силу с момента его подписания и действует до {{order?.ReadyDate |
          date:'dd.MM.yyyy' : '+3' : 'ru'}}.</p>
      </section>

      <section>
        <h1>9. Расторжение договора</h1>

        <p>9.1. Стороны вправе досрочно расторгнуть Договор по взаимному согласию, а также в случаях, установленных
          действующим законодательством РФ.</p>
      </section>

      <section>
        <h1>10. Заключительные положения</h1>

        <p>10.1. Во всем остальном, что не предусмотрено Договором, стороны будут руководствоваться действующим
          законодательством РФ.</p>
        <p>10.2. Все изменения и дополнения к настоящему Договору имеют силу, если они совершены в письменном виде и
          подписаны сторонами Договора или надлежащим образом уполномоченными представителями сторон.</p>
        <p>10.3. Настоящий Договор составлен в двух экземплярах, имеющих одинаковую юридическую силу, по одному для
          каждой из сторон.</p>
      </section>

      <section class="break-before">
        <h1>11. Подписи сторон</h1>

        <div class="sign-list">
          <div class="sign">
            <p>____________________</p>
            <p class="sign-title"><sup>АО «РАТЕП»</sup></p>
          </div>

          <div class="sign">
            <p>____________________</p>
            <p class="sign-title"><sup>{{getInitials(order?.Fullname || '') || order?.OrganizationName}}</sup></p>
          </div>
        </div>

      </section>

      <section class="attachment">
        <h1>Приложения</h1>
        <h2>1. Спецификация: </h2>
        <table>
          <thead>
            <th>Изделие</th>
            <th>Количество</th>
            <th>Цена</th>
          </thead>

          <tbody>
            <tr *ngFor="let position of positions">
              <td>{{position.ProductName}}</td>
              <td>{{position.Amount}}</td>
              <td>{{position.PriceValue | number:'1.2-2' : 'ru'}}</td>
            </tr>
          </tbody>
        </table>
        <div class="price sum">{{getOrderSum() | number:'1.2-2' : 'ru'}}</div>
      </section>
    </main>
  </div>
</body>

</html>
