<div class="container">
  <app-menu></app-menu>


  <div class="card">
    <div class="error-list">
      <p class="INN-error error"
         *ngIf="!INNValidate()">ИНН должен иметь длину 10 или 12 цифр</p>
    </div>

    <div class="input">
      <label for="INN">ИНН</label>
      <input type="text"
             id="INN"
             [(ngModel)]="INN">
    </div>

    <div class="physical-person form"
         *ngIf="INN?.length == 12 && INNValidate()">
      <div class="input">
        <label for="fullname">ФИО</label>
        <input type="text"
               id="fullname"
               [(ngModel)]="physicalPerson.fullname">
      </div>
      <div class="input">
        <label for="phone">Телефон</label>
        <input type="text"
               id="phone"
               [textMask]="{mask: phoneMask}"
               [(ngModel)]="physicalPerson.phone">
      </div>
      <div class="input">
        <label for="address">Адрес</label>
        <input type="text"
               id="address"
               [(ngModel)]="physicalPerson.address">
      </div>

      <button (click)="addPhysicalPersonClient()"
              [disabled]="!physicalPersonFilled()">Добавить клиента</button>
    </div>

    <div class="juridical-person form"
         *ngIf="INN?.length == 10 && INNValidate()">
      <div class="input">
        <label for="name">Наименование</label>
        <input type="text"
               id="name"
               [(ngModel)]="juridicalPerson.name">
      </div>
      <div class="input">
        <label for="KPP">КПП</label>
        <input type="text"
               id="KPP"
               [textMask]="{mask: KPPMask}"
               [(ngModel)]="juridicalPerson.KPP">
      </div>
      <div class="input">
        <label for="OGRN">ОГРН</label>
        <input type="text"
               id="OGRN"
               [textMask]="{mask: OGRNMask}"
               [(ngModel)]="juridicalPerson.OGRN">
      </div>

      <button (click)="addJuridicalPersonClient()"
              [disabled]="!juridicalPersonFilled()">Добавить клиента</button>
    </div>
  </div>
</div>
