.wrapper {
  display: flex;
}

.card {
  width: 80%;
  margin: 0 auto;
}

select,
input {
  width: 250px;
}

.selected {
  background: var(--selection-color);
}

.sum {
  width: 100%;
  text-align: right;
  font-size: 1.75rem;
  font-weight: bold;
}
