<div class="wrapper">
  <app-menu></app-menu>

  <div class="card">
    <h1 class="title">Оформление нового заказа</h1>

    <table>
      <col style="width: auto;">
      <col style="width: 200px;">
      <col style="width: 200px;">
      <col style="width: 250px;">
      <col style="width: 250px;">

      <thead>
        <th>Изделие</th>
        <th>Количество</th>
        <th>Максимум</th>
        <th>Стоимость</th>
        <th>Сумма</th>
      </thead>

      <tbody>
        <tr *ngFor="let composition of composition"
            [ngClass]="{'selected': composition.Amount > 0 && composition.Amount <= composition.MaxAmount}">
          <td>{{composition.ProductName}}</td>
          <td><input type="number"
                   style="background-color: transparent;"
                   [(ngModel)]="composition.Amount"
                   [max]="composition.MaxAmount"></td>
          <td>{{composition.MaxAmount}}</td>
          <td class="price">{{composition.PriceValue}}</td>
          <td class="price">{{composition.Amount * composition.PriceValue | number : '1.2-2' : 'ru'}}</td>
        </tr>
      </tbody>
    </table>
    <p class="price sum">Итого: {{getSum() | number : '1.2-2' : 'ru'}}</p>

    <button (click)="createOrder()"
            [disabled]="getOrder().length <= 0">Сформировать</button>
  </div>
</div>
