.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  height: var(--auth-menu-height);
  padding: 0 40px;

  .title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--background-color);
    user-select: none;
    text-transform: uppercase;
  }

  .help {
    position: relative;
    width: 52px;
    height: 52px;

    &::after {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      content: "?";
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-color: var(--background-color);
      color: var(--main-color);
      font-size: 2.7rem;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
